spring:
  application:
    name: high-integrity-ledger

  config:
    import: "aws-secretsmanager:ledger_db_secret"

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://${host:localhost}:${port:5432}/${dbname:ledger_db}
    username: ${username}
    password: ${password}

  jpa:
    open-in-view: false
    hibernate:

      ddl-auto: none
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

  cloud:
    aws:
      region:
        static: us-east-1
      credentials:
        access-key: test
        secret-key: test
      endpoint: http://localhost:4566
      secretsmanager:
        enabled: true